
<div style="display: block;margin-left: auto;margin-right: auto;width:50%;">
    <div style="display: block;margin-left: auto;margin-right: auto;width:50%;">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a (click)="getFirstPage()" class="page-link" >First</a></li>
              <li class="page-item"><a (click)="getPreviousPage()" class="page-link" ><<</a></li>
              <li class="page-item"><a (click)="getNextPage()" class="page-link" >>></a></li>
              <li class="page-item"><a (click)="getLastPage()" class="page-link" >Last</a></li>
            </ul>
          </nav>
    </div>
</div>
